h1,h2,h3,h4,h5,h6,label, th, td {
    color: #202124!important;
}
body {
    background-color:#f5f7fb!important;
    font-size: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color,inherit);
}
h1 {font-size: calc(1.375rem + 1.5vw)}
h2 {font-size: calc(1.325rem + .9vw)}
h3 {font-size: calc(1.3rem + .6vw)}
h4 {font-size: calc(1.275rem + .3vw)}
h5 {font-size: 1.25rem}
h6 {font-size: 1rem}

.content {
    padding: 0px 12px!important;
}
.btn {
    font-size: 1rem;
}
.form-control, .form-select, .dropdown-item {
    color: #202124;
    font-size: 1rem;
}
.form-control, .form-select, .dropdown-item:focus {
    color: #202124!important;
}
.dropdown-item.active, .dropdown-item:active {
    color:white!important;
    background-color: #F8475E!important;
}
.modal-body table tr td {
    white-space: normal!important;
    border-top: unset!important;
    padding:4px 0px!important;
}

/* Sidebar */
.sidebar,.sidebar-content{
    background:#fff;
}
.sidebar-link,a.sidebar-link{
    background:#fff;
    color:#202124;
}
.sidebar-link i,.sidebar-link svg,a.sidebar-link i,a.sidebar-link svg{
    color:#535353;
}
.sidebar-link{
    color:#535353!important;
}
.sidebar-header {
    color:#535353;
    font-weight: 600;
    padding: 1rem 1.5rem 0.375rem;
}
.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link,
.sidebar-item.active>.sidebar-link>i{
    background-color: #F8475E;
    border-left-color: #F8475E;
    color:#fff!important;
    border-radius: 0 50px 50px 0;
}
.sidebar-item>.sidebar-link:hover,
.sidebar-link:hover>i {
    background-color: #f1f3f4;
    border-left-color: #f1f3f4;
    color:#202124!important;
    border-radius: 0 50px 50px 0;
}
.sidebar-item>.sidebar-link:link {
    border-radius: 0 50px 50px 0;
}
/* Akhir sidebar */

/* Boostrap */
.fs-1 {font-size: calc(1.375rem + 1.5vw) !important;}
.fs-2 {font-size: calc(1.325rem + 0.9vw) !important;}
.fs-3 {font-size: calc(1.3rem + 0.6vw) !important;}
.fs-4 {font-size: calc(1.275rem + 0.3vw) !important;}  
.fs-5 {font-size: 1.25rem !important;}
.fs-6 {font-size: 1rem !important;}

/* Bootstrap coloring */
.btn-primary {
    background-color: #F8475E!important;
    border-color: #F8475E!important;
}
.btn-primary:hover {
    background-color: #F8475E!important;
    border-color: #F8475E!important;
}
.btn-check:focus + .btn-primary, 
.btn-primary:focus {
    background-color: #F8475E!important;
    border-color: #F8475E!important;
    box-shadow: 0 0 0 .25rem #ffbec7!important;
}
.btn-check:active + .btn-primary:focus, 
.btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, 
.btn-primary:active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem #ffbec7!important;
}
textarea:focus, input:focus,
.form-select:active,.form-select:focus,
.uneditable-input:focus {   
  border-color: #F8475E!important;
  box-shadow: 0 0 0 .25rem #ffbec7!important;
}
.dselect-wrapper .form-select.show {
    border-color: #F8475E!important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #ffbec7!important;
}